

<div style="font-size: 30px; font-weight: bold; color: red; margin: 40px 0px">
    Computer Store A
</div>

<div class="navbar-collapse" style="display: flex; background: #ececec; align-items: center; height: 40px; ">
    <div class="nav-item">HOME</div>
    <div class="nav-item">INTRODUCTION</div>
    <div class="nav-item">COMPUTER</div>
    <div class="nav-item">MOBILE PHONE</div>
    <div class="nav-item">TABLET</div>
    <div class="nav-item">ACCESSORY</div>
</div>

<section class="img-view">
    <div style="width: 69%; height: 300px; background-image: url('../../img/img.bg.jpg'); background-repeat: round;"></div>
    <div style="width:1%"></div>
    <div style="width: 30%; height: 300px; background-image: url('../../img/ipadpromotion.jpg'); background-repeat: round; "></div>
</section>

<section class="product-list">
    <div class="product-item">
        <div style="width: 200px; height: 200px; background-image: url('../../img/thinkpad.jpg'); background-repeat: round;"></div>
        <div style="width: 200px; height:30px ; display:flex ; align-items:center ; justify-content:center ; color:cornflowerblue ;font-weight:bold">
            Laptop Lenovo
        </div>
    </div>

    <div class="product-item">
        <div style="width: 200px; height: 200px; background-image: url('../../img/thinkpad.jpg'); background-repeat: round;"></div>
        <div style="width: 200px; height:30px ; display:flex ; align-items:center ; justify-content:center ; color:cornflowerblue ;font-weight:bold">
            Laptop Lenovo
        </div>
    </div>

    <div class="product-item">
        <div style="width: 200px; height: 200px; background-image: url('../../img/thinkpad.jpg'); background-repeat: round;"></div>
        <div style="width: 200px; height:30px ; display:flex ; align-items:center ; justify-content:center ; color:cornflowerblue ;font-weight:bold">
            Laptop Lenovo
        </div>
    </div>

    <div class="product-item">
        <div style="width: 200px; height: 200px; background-image: url('../../img/thinkpad.jpg'); background-repeat: round;"></div>
        <div style="width: 200px; height:30px ; display:flex ; align-items:center ; justify-content:center ; color:cornflowerblue ;font-weight:bold">
            Laptop Lenovo
        </div>
    </div>

    <div class="product-item">
        <div style="width: 200px; height: 200px; background-image: url('../../img/thinkpad.jpg'); background-repeat: round;"></div>
        <div style="width: 200px; height:30px ; display:flex ; align-items:center ; justify-content:center ; color:cornflowerblue ;font-weight:bold">
            Laptop Lenovo
        </div>
    </div>

    <div class="product-item">
        <div style="width: 200px; height: 200px; background-image: url('../../img/thinkpad.jpg'); background-repeat: round;"></div>
        <div style="width: 200px; height:30px ; display:flex ; align-items:center ; justify-content:center ; color:cornflowerblue ;font-weight:bold">
            Laptop Lenovo
        </div>
    </div>

</section>


<style type="text/css">
    /*Rules for sizing the icon*/
    .nav-item {
        margin: 0px 20px;
        padding: 2px 7px;
        border-radius: 3px;
        cursor:pointer ;
    }
    .nav-item:hover{
        background:grey;
    }
    .img-view{
        display:flex
    }

    .product-item {
        width: 200px;
        height: 260px;
        float: left;
        margin : 15px ;
    }

    
</style>